/*----- baseline margins -----*/
body {
    margin: 0;
    padding: 0;
}

.container .row {
    margin: 0;
}

h3 {
    margin: 0;
}

/*----- Text and Headings -----*/

.brand-heading {
    font-family: 'Special Elite', cursive;
}

.heading-text {
    font-family: 'Didact Gothic', sans-serif;
}

.body-text {
    font-family: 'Raleway', sans-serif;
}

.xlrg {
    font-size: 2em;
}

.lrg {
    font-size: 1.5em;
}

.med {
    font-size: 1em;
}

.sml {
    font-size: 0.75em;
}

/*----- Colors -----*/


.container {
    background-color: #FFC9AD;
}

footer{
    background-color: rgb(37, 37, 37)
}

footer li{
    color: white;
    transition: color 250ms;
}
footer li:hover{
    color: #D24625;
}

.pagination li.active,
.btn {
    background-color: #D24625;
}

.btn:hover {
    background-color: #E06C52;
}

.btn:focus {
    background-color: #E06C52;
}

nav {
    background-color: #0B1023;
}
.collapsible-body,
.container.login-modal,
#modal-wrapper {
    background-color: #ffeee6;
}

.search-wrapper button {
    background-color: #D24625;
    color: #ffffff;
    transition: color 250ms;
}

.search-wrapper button:hover {
    color: #0B1023;
}

#features a{
    color:black;
    transition: color 250ms;
}

#call-to-signin a{
    font-weight: 600;
    color: #D24625;
    transition: color 250ms;
}

#call-to-signin a:hover{
    color: #E06C52;
}

.card .card-content p {
    color: #0B1023;
    transition: color 250ms;
}

.movie-title,
.card .card-content p:hover {
    color: #D24625;
}

.fa-plus-circle,
.fa-check {
    color: #518E51;
    transition: color 250ms
}

.watchlist {
    background-color: #518E51;
    transition: background-color 250ms
}

.watchlist:hover {
    background-color: #386138;
}

.fa-plus-circle:hover,
.fa-check:hover {
    color: #386138;
}

.fa-star{
    color: #FFC300;
    transition: color 250ms
}

.fa-star:hover {
    color: #cc9c00;
}

.favourite {
    background-color: #FFC300;
    transition: background-color 250ms
}

.favourite:hover {
    background-color: #cc9c00;
}

#features a:hover,
.feature i,
.fa-info:hover {
    color: #D24625;
}

.fas.fa-times {
    color: #0B1023;
    transition: color 250ms;
}

.input_remove:hover,
.fas.fa-times:hover {
    color: #ff3333;
}

.empty_carousel h4 a:hover {
    color: rgb(150, 60, 40);
    font-weight: 600;
}
.input_add:hover {
    color:#386138;
}
.cancel {
    background-color: #ff3333;
    transition: background-color 250ms;
}
.cancel:hover {
    background-color: red;
}

/*----- Base -----*/

.wrapper {
    min-height: 90vh;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter {
    width: 100%;
    min-height: 90vh;
    background-color: rgba(11, 16, 25, 0.637);
    display: flex;
    padding: 1em;
}

.container.body-content {
    border-radius: 2px;
    padding: 0.5em;
    margin: auto;
}

footer .row{
    margin: 0;
}

footer img{
    margin-top: 13px;
}

/*----- NavBar -----*/

.seperator {
    padding: 0.5em;
    list-style-type: none;
}
.brand-logo {
    max-height: 100%;
}

nav div a img {
    height: 55px;
    width: 55px;
    vertical-align: top;
}

#mobile-menu,
nav li>a,
.side-nav li>a,
.dropdown-content li>a {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #0B1023;
    transition: color 250ms;
}

nav li>a:hover, 
.dropdown-content li>a:hover{
    background-color: #0B1023;
    color: #D24625;
}

/*----- Login Page -----*/

#login-box {
    border: 2px #D24625 solid;
    border-radius: 2px;
    box-shadow: 1px 5px 5px -6px #777;
    background-color: #ffeee6;
    padding: 1.5em 0;
    margin-top: 1em;
}

#signup-box {
    margin-bottom: 1.5em;
}

#modal-wrapper {
    padding: 1.5em;
}

.input-field .prefix {
    width: 0;
    font-size: 1.5em;
    line-height: 2.5em;
}

#login-error p{
    display: inline-block;
    padding: 0.5em;
    border: 2px #cc9c00 dotted;
    background-color: #ffff99;
    border-radius: 2px;
}

div>h4 {
    display: inline-block;
}
#modal-wrapper .input-field .password-correct {
    border-bottom: 1px solid #518E51;
}

#modal-wrapper .input-field .password-incorrect {
    border-bottom: 1px solid #ff3333;
}

/*----- Home Page -----*/

#jumbotron h3 {
    margin-bottom: 1em;
}


#jumbotron p{
    margin: 0;
}

#jumbotron{
    padding-bottom: 1em;
}

.row #about_heading {
    text-decoration-line: underline;
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

#about_heading span{
    font-weight: 700;
}

#features{
    margin: 2em 0 1em;
}

.row.feature {
    margin-bottom: 1em;
}


/*----- Browse Page -----*/

#movie-container {
    width: 100%;
    margin: 0;
    padding: 0.25em;
}
.row .search-wrapper {
    height: 2.5em;
    margin: 1.5em 0 1.5em;
}

#search {
    border: 2px solid #D24625;
    border-right: 0;
    box-sizing: border-box;
    padding-left: 0.5em;
    border-radius: 3px 0 0 3px;
    height: 100%;
    margin: 0;
    background-color: #ffeee6;
    box-shadow: 1px 5px 5px -6px #777;
}

.search-wrapper input[type=text]:not(.browser-default):focus:not([readonly]) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-wrapper button{
    border: 2px solid #D24625;
    border-radius: 0 3px 3px 0;
    line-height: sub;
    height: 100%;
    margin: 0;
    padding: 0 0.5em;
    box-shadow: 0 5px 6px -6px #777;
}

#show_options {
    cursor: pointer;
    margin-left: 0.25em;
}

#form_options {
    border: 2px dashed #0B1023;
    border-radius: 3px;
    margin: 0.25em 0 1.5em;
    background-color: #ffeee6;
    padding-bottom: 0.75em;
    box-shadow: 0 5px 6px -6px #777;
}

#form_options h3 {
    margin-top: 0.75em;
    margin-bottom: 0;
}

#form_options input {
    margin: 1em 0;
}

#form_options>.input-field>label {
    top: 1em;
}
#form_options .input-field{
    margin: 0;
}

.flashes p {
    font-size: 1.5em;
    margin: 0 0 1em;
}

#call-to-signin {
    padding: 0.5em;
    background-color: #ffeee6;
    border: 1px #D24625 solid;
    text-align: center;
    border-radius: 2px;
    margin: 0 0 1.5em;
    box-shadow: 0 5px 6px -6px #777;
}


.card .card-content {
    padding: 0.5em 0;
}

.card .card-content p {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
}

.card-content {
    margin: 0 10px;
}

.card .card-content.icon{
    font-size: larger;
    padding-top: 0em;
}

.fa-info {
    cursor: pointer;
    transition: color 250ms;
}

.card .card-reveal {
    text-align: left;
    padding: 10px
}

.card .card-reveal i{
    display: block;
    text-align: center;
    transition: color 250ms;
}

.left-align-slick > .slick-list > .slick-track {    
    margin-left:0;
}

.pagination li a{
    padding: 0 5px;
}

/*----- Movie Page -----*/

.movie-title {
    margin: 1em 0 0;
}

h3.movie-data {
    margin-top: 1em;
}

img.materialboxed {
    margin: 2em auto 1.5em;
}

.collapsible {
    border: none;
}
.collapsible-header{
    background-color: #D24625;
    color: #ffffff;
    border: 1px #E06C52 solid;
}
#movie-options .btn i,
#movie-options a.btn{
    font-size: 0.75em;
}

#movie-options>div>a.btn{
    width: 75%;
    padding: 0 1em;
}

#movie-options>.col{
    margin-bottom: 1em;
}

#movie-page-login>div {
    margin-bottom: 1em;
}

/*----- User Home -----*/

.section {
    padding: 0 0.5em;
}

#user-greeting,
.empty_carousel,
.carousel{
    padding: 1em;
    background: #ffeee6;
    border: 1px #D24625 solid;
    border-radius: 2px;
    box-shadow: 0 5px 6px -6px #777;
    height: 100%;
    margin: 1em 0 1.5em;
}

#user-greeting {
    width: fit-content;
    text-align: center;
    float: none;
    margin: 1em auto;
}

blockquote {
    font-style: italic;
    font-weight: 600;
    border: none;
    margin: auto;
    padding: 0;
}

a.btn.logout,
.empty_carousel a.btn {
    display: block;
    width: fit-content;
    margin: 1em auto;
}

.empty_carousel h4,
.empty_carousel h4 a {
        color: #D24625;
        margin: 1em auto;
        transition: color 250ms;
}
.carousel .card{
    margin: 0 0.5em;
}

.prev::before,
.next::before {
    font-size: 2em;
}

.prev{
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 1px;
    color: #BFAFB2;
    height: 100%;
}
.next{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 1px;
    color: #BFAFB2;
}

/*----- Form Fields -----*/

/* label underline focus color */
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #D24625;
        box-shadow: none;
}

input[type=range]+.thumb {
    background-color: #D24625;
}
.dropdown-content li>span,
.input-field .prefix.active,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #D24625;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #D24625;
    border-bottom: 2px solid #D24625;
}

[type="checkbox"]+label {
    margin-bottom: 11px;
}

#update_form div.row,
#movie_form div.row {
    margin-top: 1.5em;
}

#update_form h2,
#movie_form h2{
    margin-top: 0;
}

input[type=range] {
    border: none;
}

.col.s12.user-add {
    padding:0;
}

::placeholder {
    color: #D24625;
    opacity: 0.5;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #0B1023;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #0B1023;
  }
  input[type=range]::-ms-thumb {
    background-color: #0B1023;
  }

.input_add,
.input_remove {
    cursor: pointer;
    transition: color 250ms
}

@media(min-width: 300px) {
    .card-image img {
        height: 45vw;
    }
}

@media(min-width: 610px) {
    .card-image img {
        height: 25vw;
    }
    #about {
    border-right: black 1px solid
    }
}

@media(min-width: 1000px) {
    .card-image img {
        height: 20vw;
    }
}

@media(min-width: 1300px) {
    .card{
        max-width: 1040px;
    }
}