/*----- baseline margins -----*/
body {
    margin: 0;
    padding: 0;
}

/*----- Text and Headings -----*/

.brand-heading {
    font-family: 'Special Elite', cursive;
}

.heading-text {
    font-family: 'Didact Gothic', sans-serif;
}

.body-text {
    font-family: 'Raleway', sans-serif;
}

.lrg {
    font-size: 2em;
}

.med {
    font-size: 1em;
}

.sml {
    font-size: 0.75em;
}

/*----- Colors -----*/

.wrapper {
    background-color: #2C4B82;
}

.container {
    background-color: #FFC9AD;
}

.btn {
    background-color: #D24625;
}

.btn:hover {
    background-color: #E06C52;
}

.btn:focus {
    background-color: #E06C52;
}

nav {
    background-color: #0B1023;
}

/*----- Base -----*/

.wrapper {
    height: 100%;
    width: 100%;
    padding: 1em 0;
}

.container.body-content {
    border-radius: 2px;
    padding: 0.5em;
}


/*----- NavBar -----*/

.seperator {
    padding: 0.5em;
    list-style-type: none;
}
.brand-logo {
    max-height: 100%;
}

nav div a img {
    height: 55px;
    width: 55px;
    vertical-align: top;
}

#mobile-menu,
nav li>a,
.side-nav li>a,
.dropdown-content li>a {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #0B1023;
    transition: color 250ms;
}

nav li>a:hover, 
.dropdown-content li>a:hover{
    background-color: #0B1023;
    color: #D24625;
}

/*----- Browse Page -----*/

#movie-container {
    width: 100%;
    margin: 0;
    padding: 0.25em;
}

.card .card-content {
    padding: 0.5em 0;
}

.card .card-content p {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.card .card-content.icon{
    font-size: larger;
    padding-top: 0em;
}

.left-align-slick > .slick-list > .slick-track {    
    margin-left:0;
}



@media(min-width: 300px) {
    .card-image img {
        height: 45vw;
    }
}

@media(min-width: 610px) {
    .card-image img {
        height: 25vw;
    }
}

@media(min-width: 1000px) {
    .card-image img {
        height: 20vw;
    }
}

@media(min-width: 1300px) {
    .card{
        max-width: 1040px;
    }
}