{% extends "base.html" %}
{% block title %}
    Browse
{% endblock %}
{% block content %}
    <div id="movie-container" class="row">
{% if session["username"] %}
    {% for movie in movies %}
        <div class="card col s5 m3 l3">
            <div class="card-image waves-effect waves-block waves-light">
                <a class="card-link" href="{{url_for('movie_page', movie_id=movie._id)}}">
                    {% if movie.img_url == "" %}
                        <img src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}" alt="{{movie.title}}">
                    {% else %}
                        <img src="{{movie.img_url}}" alt="{{movie.title}}">
                    {% endif %}
                </a>
            </div>
            <div class="card-content">
                <a href="{{url_for('movie_page', movie_id=movie._id)}}">
                    <p class="card-info heading-text med center-align">{{movie.title}}</p>
                </a>
            </div>
            <div class="card-content center-align icon">
                    {% if movie._id in user.watchlist %}
                        <a class="left" href="{{url_for('remove_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-check"></i></a>
                    {% else %}
                        <a class="left" href="{{url_for('add_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-plus-circle"></i></a>
                    {% endif %}
                        <i class="activator sml fas fa-info"></i>
                    {% if movie._id in user.favourites %}
                        <a class="right" href="{{url_for('remove_favourite', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-star"></i></a>
                    {% else %}
                        <a class="right" href="{{url_for('add_favourites', movie_id=movie._id, page='browse_movies')}}"><i class="far fa-star"></i></a>
                    {% endif %}
            </div>
            <div class="card-reveal">
                <span class="card-title"><i class=" med right fas fa-times"></i></span>
                <p class="body-text med">{{movie.description}}</p>
            </div>
        </div>
    {% endfor %}
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% for movie in movies %}
           <div class="card col s5 m3 l3">
            <div class="card-image waves-effect waves-block waves-light">
                <a class="card-link" href="{{url_for('movie_page', movie_id=movie._id)}}">
                    {% if movie.img_url == "" %}
                        <img src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}" alt="{{movie.title}}">
                    {% else %}
                        <img src="{{movie.img_url}}" alt="{{movie.title}}">
                    {% endif %}
                </a>
            </div>
            <div class="card-content">
                <a href="{{url_for('movie_page', movie_id=movie._id)}}">
                    <p class="card-info heading-text med center-align">{{movie.title}}</p>
                </a>
            </div>
                <div class="card-content center-align icon">
                        <i class="activator sml fas fa-info"></i>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class=" med right fas fa-times"></i></span>
                    <p class="body-text med">{{movie.description}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}