{% extends "base.html" %}
{% block title %}
    
{% endblock %}
{% block content %}
    <div id="jumbotron" class="row heading-text">
        <div class="col s12 center-align">
            <h2 class="brand-heading xlrg">Spooky Spool</h2>
            <h3 class="lrg">The online repository of thrilling film oddities</h3>
        </div>
        <div class="co s12">
            <div class="row">
                <div id="about" class="col s12 m6">
                    <div class="row">
                        <div class="col s12 center-align">
                            <p id="about_heading" class="heading-text">A<span>booo</span>..ut</p>
                        </div>
                        <div class="col s12">
                            <p class="body-text">
                                Love horror films but picking scares you to death? Welcome to Spooky Spool, a monsterous collection of thrilling films! Here you can 
                                search for flicks, star your favourites and create watchlists using the zombie-green icons.
                                Did we miss something? Don't worry! Users can even upload favourites they can't find!
                            </p>
                        </div>
                    </div>
                </div>
                <div id="features" class="col s12 m6">
                    <div class="row med feature">
                        <div class="col s2">
                            <i class="fas fa-search lrg right"></i>
                        </div>
                        <div class="col s10">
                            <a href="{{url_for('browse_movies', page_num=1)}}"><p>Browse our library or search for something specific</p></a>
                        </div>
                    </div>
                    <div class="row feature">
                        <div class="col s2">
                            <i class="fas fa-user-circle lrg right"></i>
                        </div>
                        <div class="col s10">
                            <a 
                            href="
                            {% if session['username'] %}
                                {{url_for('user_home', username=session['username'])}}
                            {% else %}
                                {{url_for('login')}}
                            {% endif %}
                            "
                            ><p>Create an account to add movies to your watchlist or favourites</p></a>
                        </div>
                    </div>
                    <div class="row med feature">
                        <div class="col s2">
                            <i class="fas fa-arrow-circle-up lrg right"></i>
                        </div>
                        <div class="col s10">
                            <a href="
                            {% if session['username'] %}
                                {{url_for('user_home', username=session['username'])}}
                            {% else %}
                                {{url_for('login')}}
                            {% endif %}
                            "><p>Users can add or remove their own movies to the collection</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}