{% extends "base.html" %}
{% block title %}
    Update
{% endblock %}
{% block content %}
{% set runtime = movie.runtime.split() %}
{% set ratings = ["G", "PG", "PG-13", "R", "NC-17","Unrated"] %}
<div class="row heading-text">
		<form id="update_form" action="{{url_for('insert_update', movie_id=movie._id)}}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="movie_title" value="{{movie.title}}" name="title" type="text" required>
					<label for="movie_title">Title</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<input id="tagline" name="tagline" value="{{movie.tagline}}" type="text">
                    <label for="tagline">Tagline/Slogan (optional)</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<textarea id="movie_description" name="description" class="materialize-textarea" required>{{movie.description}}</textarea>
                    <label for="movie_description">Plot Synopsis</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s4">
					<select id="movie_rating" name="rating" required>
                        <option value="" disabled>Select rating</option>
                        {% for rating in ratings %}
                            {% if movie.rating == rating %}
                                <option value="{{rating}}" selected>{{rating}}</option>
                            {% else %}
                                <option value="{{rating}}">{{rating}}</option>
                            {% endif %}
                        {% endfor %}
					</select>
                    <label for="movie_rating">Age Rating</label>
				</div>
				<div class="input-field col s4">
					<select id="movie_year" name="year" required>
				      {% for year in range(2021, 1909, -1) %}
                        {% if year == movie.year|int %}
                        <option value="{{year}}" selected>{{year}}</option>
                        {% else %}
                        <option value="{{year}}">{{year}}</option>
                        {% endif %}
                      {% endfor %}
				    </select>
					<label for="movie_year">Release Year</label>
				</div>
                <div class="input-field col s4">
					<input placeholder="1-100" id="movie_metascore" name="metascore" type="number" min="1" max="100" value="{{movie.metascore}}" required>
					<label for="movie_metascore">Metascore</label>
				</div>
			</div>
            <div class="row">
                <h2 class="col s12 med">Runtime (minutes)</h2>
				<div class="input-field col s12">
					<input type="range" id="runtime" name="runtime" min="1" max="250" value="{{runtime[0]}}" required>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select id="movie_genres" name="genre" multiple required>
                        <option value="" disabled selected>Pick relevant genres</option>
				      {% for genre in genres %}
                        {% if genre._id in movie.genre%}
                        <option value="{{genre._id}}" selected>{{genre.genre_name}}</option>
                        {% else %}
                        <option value="{{genre._id}}">{{genre.genre_name}}</option>
                        {% endif %}
                      {% endfor %}
					</select>
                    <label for="movie_genres">Genres</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12 user-add">
                    <div id="movie_actors" class="row">
                        <div class="col s6">
					        <input name="actors[]" type="text" value="{{movie.actors[0]}}" required>
					        <label for="actors[]">Actor(s)</label>
                        </div>
                        {% if movie.actors|length > 1 %}
                            {% for actor in movie.actors[1:] %}
                                <div class="col s6 actor-input">
                                    <input name="actors[]" type="text" value="{{actor}}" required>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
				</div>
                <div class="col s12 center-align">
                    <div class="col s6 input_add" id="actor_add" ><i class="fas fa-plus"></i></div>
                    <div class="col s6 input_remove" id="actor_remove" ><i class="fas fa-minus"></i></div>
                </div>
			</div>
            <div class="row">
				<div class="input-field col s12 user-add">
                    <div id="movie_directors" class="row">
                        <div class="col s6">
					        <input name="directors[]" type="text" value="{{movie.directors[0]}}" required>
					        <label for="directors[]">Director(s)</label>
                        </div>
                        {% if movie.directors|length > 1 %}
                            {% for director in movie.directors[1:] %}
                                <div class="col s6 director-input">
                                    <input name="director[]" type="text" value="{{director}}" required>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
				</div>
                <div class="col s12 center-align">
                    <div class="col s6 input_add" id="director_add" ><i class="fas fa-plus"></i></div>
                    <div class="col s6 input_remove" id="director_remove" ><i class="fas fa-minus"></i></div>
                </div>
			</div>
            <div class="row">
				<div class="input-field col s12 user-add">
                    <div id="movie_languages" class="row">
                        <div class="col s6">
					        <input name="languages[]" type="text" placeholder="English" value="{{movie.languages[0]}}" required>
					        <label for="languages[]">Languages(s)</label>
                        </div>
                        {% if movie.languages|length > 1 %}
                            {% for language in movie.languages[1:] %}
                                <div class="col s6 language-input">
                                    <input name="languages[]" type="text" value="{{language}}" required>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
				</div>
                <div class="col s12 center-align">
                    <div class="col s6 input_add" id="language_add" ><i class="fas fa-plus"></i></div>
                    <div class="col s6 input_remove" id="language_remove" ><i class="fas fa-minus"></i></div>
                </div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<input id="movie_img_url" placeholder="(i.e.) https://images-na.ssl-images-amazon.com/images/I/31dKO0hfksL._AC_.jpg"  value="{{movie.img_url}}" name="img_url" type="text">
					<label for="movie_img_url">Poster URL (optional)</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<input id="movie_imdb_url" placeholder="(i.e.) https://www.imdb.com/title/tt0078748/" value="{{movie.imdb_url}}" name="imdb_url" type="text">
					<label for="movie_imdb_url">Link to IMDB page (optional)</label>
				</div>
			</div>
			<div class="row">
                <div class="col s12">
				    <button class="btn waves-effect waves-light left" type="submit">Update</button>
                    <a class="btn waves-effect cancel right" href="{{url_for('user_home', username=session['username'])}}">Cancel</a>
                </div>
			</div>
		</form>
	</div>

{% endblock %}