{% extends "base.html" %} {% block title %} {{movie.title}} {% endblock %} {%
block content %}
<div id="movie_wrapper">
  <div class="row heading-text">
    <div class="col s12 l6">
      <div class="row">
        <div class="col s12">
          <h2 class="xlrg movie-title">{{(movie.title)}}: ({{movie.year}})</h2>
        </div>
        <div class="col s12 m6 l12">
          <div class="row">
            <h3 class="lrg col s6 m12 movie-data">
              Age Rating:<span class="hide-on-small-only">
                {{movie.rating}}</span
              >
            </h3>
            <h3 class="lrg col s6 hide-on-med-and-up movie-data">
              {{movie.rating}}
            </h3>
          </div>
        </div>
        <div class="col s12 m6 l12">
          <div class="row">
            <h3 class="lrg col s6 m12 movie-data"> Metascore: {% if movie.metascore %}
              <span class="hide-on-small-only"> {{movie.metascore}}/100</span>
            </h3>
            <h3 class="lrg col s6 hide-on-med-and-up movie-data">
              {{movie.metascore}}/100
            </h3>
            {% else %}
            <span class="hide-on-small-only"> Unrated</span></h3>
            <h3 class="lrg col s6 hide-on-med-and-up movie-data"> Unrated</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="row">
        <div class="col s12 center-align">
          {% if movie.img_url == "" %}
          <img
            class="materialboxed"
            alt="Poster for {{movie.title}}"
            data-caption="{{movie.tagline}}"
            width="250"
            src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}"
          />
          {% else %}
          <img
            class="materialboxed"
            alt="Poster for {{movie.title}}"
            data-caption="{{movie.tagline}}"
            width="250"
            src="{{movie.img_url}}"
          />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="accordion" class="row center-align heading-text">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Plot Synopsis</div>
        <div class="collapsible-body body-text">
          <span>{{movie.description}}</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Cast & Crew</div>
        <div class="collapsible-body body-text">
          <div class="row">
            <div class="col s12 m6">
              <p class="heading-text lrg">Featured Actors:</p>
              <ul>
                {% for actor in movie.actors %}
                <li>{{actor}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col s12 m6">
              <p class="heading-text lrg">Director(s):</p>
              <ul>
                {% for director in movie.directors %}
                <li>{{director}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Other Details</div>
        <div class="collapsible-body body-text">
          <div class="row">
            <div class="col s6 m3">
              <p class="heading-text">Imdb:</p>
              {% if movie.imdb_url %}
              <p><a target="_blank" href="{{movie.imdb_url}}">Link</a></p>
              {% else %}
              <p>No link</p>
              {% endif %}
            </div>
            <div class="col s6 m3">
              <p class="heading-text">Runtime:</p>
              <p>{{movie.runtime}}</p>
            </div>
            <div class="col s6 m3">
              <p class="heading-text">Genre(s):</p>
              <ul>
                {% for genre in genres %} {% if genre._id in movie.genre %}
                <li>{{genre.genre_name}}</li>
                {% endif %} {% endfor %}
              </ul>
            </div>
            <div class="col s6 m3">
              <p class="heading-text">Language(s):</p>
              <ul>
                {% for Language in movie.languages %}
                <li>{{Language}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  {% if user %} 
    <div id="movie-options" class="row heading-text">
            <div class="col center-align s6 l3">
                {% if movie._id in user.watchlist %}
                    <a
                        href="{{url_for('remove_watchlist', movie_id=movie._id, page='movie_page', value=movie._id)}}"
                        class="waves-effect cancel btn"
                        ><i class="fas fa-minus sml"></i> Watchlist</a
                    >
                {% else %}
                    <a
                        href="{{url_for('add_watchlist', movie_id=movie._id, page='movie_page', value=movie._id)}}"
                        class="waves-effect watchlist btn"
                        ><i class="fas fa-plus sml"></i> Watchlist</a
                    >
                {% endif %}
            </div>
            <div class="col center-align s6 l3">
                {% if movie._id in user.favourites %}
                <a
                    href="{{url_for('remove_favourite', movie_id=movie._id, page='movie_page', value=movie._id)}}"
                    class="waves-effect cancel btn"
                    ><i class="fas fa-minus"></i> Favourites</a
                >
                {% else %}
                <a
                    href="{{url_for('add_favourites', movie_id=movie._id, page='movie_page', value=movie._id)}}"
                    class="waves-effect favourite btn"
                    ><i class="fas fa-plus"></i> Favourites</a
                >
                {% endif %}
            </div>
            {% if movie._id in user.submitted_movies %}
                <div class="col center-align s6 l3">
                <a
                    class="waves-effect btn"
                    href="{{url_for('update_movie', movie_id=movie._id)}}"
                    >Update</a
                >
                </div>
                <div class="col center-align s6 l3">
                <a
                    class="waves-effect cancel btn"
                    href="{{url_for('delete_movie', movie_id=movie._id)}}"
                    >Delete</a
                >
                </div>
            {% endif %}
    </div>
             {% else %}
    <div id="movie-page-login" class="row center-align">
        <div class="col s12">
            <h3 class="heading-text med">
            To add this movie to a watchlist or favourites:
            </h3>
        </div>
        <div class="col s12">
            <a href="{{url_for('login')}}" class="waves-effect btn">Login/Signup</a>
        </div>
    </div>
  {% endif %}
</div>
{% endblock %}
