{% extends "base.html" %}
{% block content %}
<!--
img_url "https://m.media-amazon.com/images/M/MV5BMTU2ODI3ODEyOV5BMl5BanBnXkFtZT..."
imdb_url "https://www.imdb.com/title/tt2199571/" -->
<div class="row">
		<form id="movie_form" action="{{url_for('attempt_login')}}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="movie_title" placeholder="Alien" name="title" type="text" class="validate" required>
					<label for="movie_title">Title</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<textarea id="tagline" name="tagline" placeholder="In space, no one can hear you scream" class="materialize-textarea"></textarea>
                    <label for="tagline">Tagline/Slogan</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<textarea id="movie_description" name="description" placeholder="In deep space, the crew of the commercial starship Nostromo is awakened from their cryo-sleep capsules halfway through their journey home to investigate a distress call from an alien vessel. The terror begins when the crew encounters a nest of eggs inside the alien ship. An organism from inside an egg leaps out and attaches itself to one of the crew, causing him to fall into a coma." class="materialize-textarea"></textarea>
                    <label for="movie_description">Plot Synopsis</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s4">
					<input id="movie_rating" name="rating" type="text" class="validate" required>
					<label for="movie_rating">Rating</label>
				</div>
				<div class="input-field col s4">
					<select id="movie_year" name="year">
				      {% for year in range(2021, 1909, -1) %}
                        <option value="{{year}}">{{year}}</option>
                      {% endfor %}
				    </select>
					<label for="movie_year">Release Year</label>
				</div>
                <div class="input-field col s4">
					<input placeholder="1-100" id="movie_metascore" name="metascore" type="number" min="1" max="100" value="50" class="validate" required>
					<label for="movie_metascore">Metascore</label>
				</div>
			</div>
            <div class="row">
                <h2 class="heading col s12 sml">Runtime</h2>
				<div class="input-field col s12">
					<input type="range" id="runtime" name="runtime" min="1" max="250">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select id="movie_genres" name="genre" multiple>
				      {% for genre in genres %}
                        <option value="{{genre._id}}">{{genre.genre_name}}</option>
                      {% endfor %}
					</select>
                    <label for="movie_genres">Genres</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
                    <div id="movie_actors" class="row">
                        <div class="col s6">
					        <input name="actors" type="text" class="validate" required>
					        <label for="actors">Actor(s)</label>
                        </div>
                    </div>
				</div>
                <span id="actor_add" >Add</span>
                <span id="actor_remove" >Remove</span>
			</div>
            <div class="row">
				<div class="input-field col s12">
                    <div id="movie_directors" class="row">
                        <div class="col s6">
					        <input name="directors" type="text" class="validate" required>
					        <label for="actors">Director(s)</label>
                        </div>
                    </div>
				</div>
                <span id="director_add" >Add</span>
                <span id="director_remove" >Remove</span>
			</div>
            <div class="row">
				<div class="input-field col s12">
                    <div id="movie_languages" class="row">
                        <div class="col s6">
					        <input name="languages" type="text" class="validate" placeholder="English" required>
					        <label for="actors">Languages(s)</label>
                        </div>
                    </div>
				</div>
                <span id="language_add" >Add</span>
                <span id="language_remove" >Remove</span>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light" form="login_form" type="submit">Login
	        </button>
			</div>
		</form>
	</div>

{% endblock %}