{% extends "base.html" %}
{% block title %}
    User Home
{% endblock %}
{% block content %}
<div class="section">
    <h3>Watchlist</h3>
    {% if watchlist.count() == 0 %}
        <div class="empty_carousel">
            <blockquote cite="https://allthetropes.fandom.com/wiki/Move_Along,_Nothing_to_See_Here">"Ok folks, show's over, nothing to see here..."</blockquote>
            <h4><a href="{{url_for('browse_movies')}}">Browse our collection to add movies!</a></h4>
        </div>
    {% else %}
	<div class="carousel left-align-slick">
		{% for movie in watchlist %}
		<div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a class="card-link" href="{{url_for('movie_page', movie_id=movie._id)}}">
                    {% if movie.img_url == "" %}
                        <img src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}" alt="{{movie.title}}">
                    {% else %}
                        <img src="{{movie.img_url}}" alt="{{movie.title}}">
                    {% endif %}
                </a>
            </div>
            <div class="card-content">
                <a href="{{url_for('movie_page', movie_id=movie._id)}}">
                    <p class="card-info heading-text med center-align">{{movie.title}}</p>
                </a>
            </div>
            <div class="card-content center-align icon">
                    {% if movie._id in user.watchlist %}
                        <a class="left" href="{{url_for('remove_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-check"></i></a>
                    {% else %}
                        <a class="left" href="{{url_for('add_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-plus-circle"></i></a>
                    {% endif %}
                        <i class="activator sml fas fa-info"></i>
                    {% if movie._id in user.favourites %}
                        <a class="right" href="{{url_for('remove_favourite', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-star"></i></a>
                    {% else %}
                        <a class="right" href="{{url_for('add_favourites', movie_id=movie._id, page='browse_movies')}}"><i class="far fa-star"></i></a>
                    {% endif %}
            </div>
            <div class="card-reveal">
                <span class="card-title"><i class=" med right fas fa-times"></i></span>
                <p class="body-text med">{{movie.description}}</p>
            </div>
        </div>
		{% endfor %}
	</div>
    {% endif %}
</div>
<div class="section">
    <h3>Favourite Movies</h3>
    {% if favourites.count() == 0 %}
        <div class="empty_carousel">
            <blockquote cite="https://www.quotes.net/mquote/1071796">"They're gone! THEY'RE ALL GONE!"</blockquote>
            <h4><a href="{{url_for('browse_movies')}}">Find your favourite movies in our collection</a></h4>
        </div>
    {% else %}
	<div class="carousel left-align-slick">
		{% for movie in favourites %}
		<div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a class="card-link" href="{{url_for('movie_page', movie_id=movie._id)}}">
                    {% if movie.img_url == "" %}
                        <img src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}" alt="{{movie.title}}">
                    {% else %}
                        <img src="{{movie.img_url}}" alt="{{movie.title}}">
                    {% endif %}
                </a>
            </div>
            <div class="card-content">
                <a href="{{url_for('movie_page', movie_id=movie._id)}}">
                    <p class="card-info heading-text med center-align">{{movie.title}}</p>
                </a>
            </div>
            <div class="card-content center-align icon">
                    {% if movie._id in user.watchlist %}
                        <a class="left" href="{{url_for('remove_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-check"></i></a>
                    {% else %}
                        <a class="left" href="{{url_for('add_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-plus-circle"></i></a>
                    {% endif %}
                        <i class="activator sml fas fa-info"></i>
                    {% if movie._id in user.favourites %}
                        <a class="right" href="{{url_for('remove_favourite', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-star"></i></a>
                    {% else %}
                        <a class="right" href="{{url_for('add_favourites', movie_id=movie._id, page='browse_movies')}}"><i class="far fa-star"></i></a>
                    {% endif %}
            </div>
            <div class="card-reveal">
                <span class="card-title"><i class=" med right fas fa-times"></i></span>
                <p class="body-text med">{{movie.description}}</p>
            </div>
        </div>
		{% endfor %}
	</div>
    {% endif %}
</div>
<div class="section">
    <h3>Your Submitted Movies</h3>
    {% if submitted.count() == 0 %}
        <div class="empty_carousel">
            <blockquote cite="https://www.quotes.net/serp.php?st=you%27re+new+here&qtype=2">"Since you're new here, I'm gonna cut you a break... today."</blockquote>
            <h4>Looks like you have't submitted any movies yet! <a class="btn" href="{{url_for('submit_movie')}}">Add Movie</a></h4>
        </div>
    {% else %}
	<div class="carousel left-align-slick">
		{% for movie in submitted %}
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<a href="{{url_for('movie_page', movie_id=movie._id)}}">
					{% if movie.img_url == "" %}
                        <img src="{{url_for('static', filename='images/movie-clapperboard.jpg')}}" alt="{{movie.title}}">
                    {% else %}
                        <img src="{{movie.img_url}}" alt="{{movie.title}}">
                    {% endif %}
                </a>
			</div>
			<div class="card-content">
				<a href="{{url_for('movie_page', movie_id=movie._id)}}">
					<p class="card-info heading-text med">{{movie.title}}</p>
				</a>
				<i class="activator right fas fa-ellipsis-v"></i>
			</div>
			<div class="card-content icon">
				<span>
                    {% if movie._id in user.watchlist %}
                        <a class="left" href="{{url_for('remove_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-check"></i></a>
                    {% else %}
                        <a class="left" href="{{url_for('add_watchlist', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-plus-circle"></i></a>
                    {% endif %}
                    {% if movie._id in user.favourites %}
                        <a class="right" href="{{url_for('remove_favourite', movie_id=movie._id, page='browse_movies')}}"><i class="fas fa-star"></i></a>
                    {% else %}
                        <a class="right" href="{{url_for('add_favourites', movie_id=movie._id, page='browse_movies')}}"><i class="far fa-star"></i></a>
                    {% endif %}
                </span>
			</div>
			<div class="card-reveal">
				<span class="card-title"><i class=" med right fas fa-times"></i></span>
				<p class="body-text med">{{movie.description}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
    <div class="row">
        <div class="col s12">
            <a class="btn" href="{{url_for('submit_movie')}}">Add Movie</a>            
        </div>
    </div>
    {% endif %}
</div>
	<h4>Logout</h4>
	<a href="{{url_for('logout')}}">logout</a>
	{% endblock %}