{% extends "base.html" %}
{% block content %}
{{favourites}}
    <section id="main-content">
		<div class="section">
            <h3>Faourite Movies</h3>
			<div class="your-class">
				{% for movie in favourites %}
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<a href="{{url_for('movie_page', movie_id=movie._id)}}">
							<img src="{{movie.img_url}}">
		            </a>
					</div>
					<div class="card-content">
						<a href="{{url_for('movie_page', movie_id=movie._id)}}">
							<p class="card-info heading-text med">{{movie.title}}</p>
						</a>
						<i class="activator right fas fa-ellipsis-v"></i>
					</div>
					<div class="card-content icon">
						<span>
		                <a class="left" href="#"><i class="fas fa-plus-circle"></i></a>
		                <a class="right" href="#"><i class="far fa-star"></i></a>
		            </span>
					</div>
					<div class="card-reveal">
						<span class="card-title"><i class=" med right fas fa-times"></i></span>
						<p class="body-text med">{{movie.description}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
        <div class="section">
            <h5>Section 1</h5>
            <p>Stuff</p>
        </div>
        <div class="section">
            <h5>Section 1</h5>
            <p>Stuff</p>
        </div>
    </section>
    <a href="{{url_for('logout')}}">logout</a>
{% endblock %}